.grid {
    display: flex;
    flex-wrap: wrap;
  }

  .grid-l{
    margin: -20px;
    .grid-item{
      padding: 20px;
    }
  }

  .grid-m{
    margin: -10px;
    .grid-item{
      padding: 10px;
    }
  }
